In [23]:
import pandas as pd
import datetime
import numpy as np

In [93]:
df= pd.read_csv('df_nbh.csv')
df.head()

,incident_datetime,neighborhood,day_of_week,year,hour_of_day,incident_id
0,2011-06-07 00:00:00,NaN,Tuesday,2011.0,12,14
1,2011-05-28 00:00:00,NaN,Saturday,2011.0,12,12
2,2011-06-03 00:00:00,NaN,Friday,2011.0,12,12
3,2011-06-12 00:00:00,NaN,Sunday,2011.0,12,12
4,2011-05-30 00:00:00,NaN,Monday,2011.0,11,11

In [94]:
df = df.dropna()

In [95]:
#Data Series Start Date	1/2009 (unreliable data before this date)
df['year']= df['year'].fillna(0.0).astype(int)
df= df[df.year>=2009]

#df['year']= df['year'].astype(str)
#df['hour_of_day']= df['hour_of_day'].astype(str)
df.head()

,incident_datetime,neighborhood,day_of_week,year,hour_of_day,incident_id
14,2011-05-07 00:00:00,Lovejoy,Saturday,2011,19,8
27,2016-10-21 00:00:00,Pratt-Willert,Friday,2016,16,8
47,2010-01-01 00:00:00,Central,Friday,2010,2,6
48,2010-07-01 00:00:00,Broadway Fillmore,Thursday,2010,0,6
49,2010-12-20 00:00:00,West Hertel,Monday,2010,20,6

In [96]:
df.columns=['date', 'nbh', 'day', 'year','hour',  'nb']
df["day"] = df["day"].replace(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], ["MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY", "SUNDAY"])

In [97]:
df['year'].unique()

array([2011, 2016, 2010, 2012, 2013, 2019, 2009, 2014, 2017, 2015, 2018,
       2020, 2021])

In [98]:
df["nbh"] = df["nbh"].replace(['North Park', 'Lovejoy', 'Pratt-Willert', 'Riverside',
                                    'Broadway Fillmore', 'Elmwood Bryant', 'Central', 'West Hertel',
                                   'Allentown', 'Elmwood Bidwell', 'Genesee-Moselle', 'Kaisertown',
                                   'University Heights', 'Kensington-Bailey', 'West Side',
                                   'Masten Park', 'Upper West Side', 'Lower West Side', 'Black Rock',
                                   'Fruit Belt', 'Schiller Park', 'Fillmore-Leroy',
                                   'Seneca-Cazenovia', 'Kenfield', 'Parkside', 'Hopkins-Tifft',
                                   'Central Park', 'South Park', 'Ellicott', 'MLK Park',
                                   'Grant-Amherst', 'Delavan Grider', 'Hamlin Park', 'Seneca Babcock',
                                   'First Ward' ], ['NorthPark', 'Lovejoy', 'PrattWillert', 'Riverside',
                                                    'BroadwayFillmore', 'ElmwoodBryant', 'Central', 'WestHertel',
                                                    'Allentown', 'ElmwoodBidwell', 'GeneseeMoselle', 'Kaisertown',
                                                    'UniversityHeights', 'KensingtonBailey', 'WestSide',
                                                    'MastenPark', 'UpperWestSide', 'LowerWestSide', 'BlackRock',
                                                    'FruitBelt', 'SchillerPark', 'FillmoreLeroy',
                                                    'SenecaCazenovia', 'Kenfield', 'Parkside', 'HopkinsTifft',
                                                    'CentralPark', 'SouthPark', 'Ellicott', 'MLKPark',
                                                    'GrantAmherst', 'DelavanGrider', 'HamlinPark', 'SenecaBabcock',
                                                    'FirstWard'])

In [99]:
df.nunique()

date    4426
nbh       35
day        7
year      13
hour      24
nb         8
dtype: int64

In [100]:
df.shape

(197809, 6)

In [101]:
df_= df.drop('date', axis=1)
df_.head()

                 nbh       day  year  hour  nb
14           Lovejoy  SATURDAY  2011    19   8
27      PrattWillert    FRIDAY  2016    16   8
47           Central    FRIDAY  2010     2   6
48  BroadwayFillmore  THURSDAY  2010     0   6
49        WestHertel    MONDAY  2010    20   6

#### create dummies variables weekdays, hours and neighbourhood

In [102]:
dummy_weekday = pd.get_dummies(df['day'])

dummy_weekday.columns = df['day'].unique()

df = pd.concat([df,dummy_weekday], axis=1)

dummy_hour= pd.get_dummies(df['hour'])

dummy_hour.columns = df['hour'].unique()

df = pd.concat([df,dummy_hour], axis=1)

dummy_nbh= pd.get_dummies(df['nbh'])

dummy_nbh.columns = df['nbh'].unique()

df = pd.concat([df,dummy_nbh], axis=1)

dummy_year= pd.get_dummies(df['year'])

dummy_year.columns = df['year'].unique()

df = pd.concat([df,dummy_year], axis=1)

In [103]:
df= df.drop(['day', 'hour', 'nbh', 'date'], axis=1)

In [104]:
df.head()

,year,nb,SATURDAY,FRIDAY,THURSDAY,MONDAY,SUNDAY,WEDNESDAY,TUESDAY,19,...,2012,2013,2019,2009,2014,2017,2015,2018,2020,2021
14,2011,8,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,2016,8,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
47,2010,6,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48,2010,6,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
49,2010,6,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Kcross validation

In [105]:
from sklearn.model_selection import KFold # import KFold
from sklearn.metrics import accuracy_score #To calculate accuracy

In [118]:
kf = KFold(n_splits = 7)
def cross_validation_XG_classifier(model):
    accuracy = []
    for train_index, test_index in kf.split(df):
        #train part
        X_train = np.array(df.drop('nb', axis = 1))[train_index]
        y_train = np.array(df.nb)[train_index]
        #test part
        X_test = np.array(df.drop('nb', axis = 1))[test_index]
        y_test = np.array(df.nb)[test_index]

        model.fit(X_train, y_train)

        y_pred = model.predict(X_test)

        y_pred = my_ceil(np.array(y_pred))

        accuracy.append(accuracy_score(y_pred, y_test))
    return np.average(accuracy)

In [119]:
kf_ = KFold(n_splits = 7)
# Converts floats to integers for classification
def my_ceil(predictions):
  for i in range(len(predictions)):

    if predictions[i]%1 <= +0.5:
      predictions[i] = int(predictions[i])
    else:
      predictions[i] = int(predictions[i]) + 1
  return predictions


def cross_validation_Lregressor(formula):
    accuracy = []
    for train_index, test_index in kf_.split(df_):
    
        #train part
        train = df_.iloc[train_index]
        #test part
        test = df_.iloc[test_index]

        model_lr = formula
        result_lr = smf.ols(model_lr, data = train).fit()

        y_pred = np.array(result_lr.predict(test))

        y_pred = my_ceil(y_pred)

        accuracy.append(accuracy_score(y_pred, test.nb))
   
    return np.average(accuracy)

## Models

### Linear regression

In [120]:
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [121]:
all_year = sorted(df_["year"].unique())

In [122]:
model_lr = 'nb ~ nbh + day + hour +C(year, levels=all_year)'
result_lr = smf.ols(model_lr, data = df_).fit()

In [123]:
cross_validation_Lregressor(model_lr)

0.48679850347998715

### Xgboost

In [124]:
import xgboost

In [125]:
model_xg = xgboost.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.3, learning_rate = 0.05,
                          alpha = 10,base_score= 0.4, booster='gbtree', n_estimators = 150)

In [126]:
cross_validation_XG_classifier(model_xg)

0.4854790288432218