In [35]:
import pandas as pd
import datetime

In [103]:
df= pd.read_csv('df_nbh.csv')

In [104]:
df.head()

     incident_datetime neighborhood day_of_week  hour_of_day  incident_id
0  2011-06-07 00:00:00          NaN     Tuesday           12           14
1  2011-05-28 00:00:00          NaN    Saturday           12           12
2  2011-06-03 00:00:00          NaN      Friday           12           12
3  2011-06-12 00:00:00          NaN      Sunday           12           12
4  2011-05-30 00:00:00          NaN      Monday           11           11

In [105]:
df.columns=['date', 'nbh', 'day', 'hour', 'count']
df["day"] = df["day"].replace(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], ["MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY", "SUNDAY"])

In [106]:
df['nbh'].unique()

array([nan, 'North Park', 'Lovejoy', 'Pratt-Willert', 'Riverside',
       'Broadway Fillmore', 'Elmwood Bryant', 'Central', 'West Hertel',
       'Allentown', 'Elmwood Bidwell', 'Genesee-Moselle', 'Kaisertown',
       'University Heights', 'Kensington-Bailey', 'West Side',
       'Masten Park', 'Upper West Side', 'Lower West Side', 'Black Rock',
       'Fruit Belt', 'Schiller Park', 'Fillmore-Leroy',
       'Seneca-Cazenovia', 'Kenfield', 'Parkside', 'Hopkins-Tifft',
       'Central Park', 'South Park', 'Ellicott', 'MLK Park',
       'Grant-Amherst', 'Delavan Grider', 'Hamlin Park', 'Seneca Babcock',
       'First Ward'], dtype=object)

In [ ]:
data["nbh"] = data["nbh"].replace(["'North Park', 'Lovejoy', 'Pratt-Willert', 'Riverside',
       'Broadway Fillmore', 'Elmwood Bryant', 'Central', 'West Hertel',
       'Allentown', 'Elmwood Bidwell', 'Genesee-Moselle', 'Kaisertown',
       'University Heights', 'Kensington-Bailey', 'West Side',
       'Masten Park', 'Upper West Side', 'Lower West Side', 'Black Rock',
       'Fruit Belt', 'Schiller Park', 'Fillmore-Leroy',
       'Seneca-Cazenovia', 'Kenfield', 'Parkside', 'Hopkins-Tifft',
       'Central Park', 'South Park', 'Ellicott', 'MLK Park',
       'Grant-Amherst', 'Delavan Grider', 'Hamlin Park', 'Seneca Babcock',
       'First Ward' ], ['NorthPark', 'Lovejoy', 'PrattWillert', 'Riverside',
       'BroadwayFillmore', 'ElmwoodBryant', 'Central', 'WestHertel',
       'Allentown', 'ElmwoodBidwell', 'GeneseeMoselle', 'Kaisertown',
       'UniversityHeights', 'KensingtonBailey', 'WestSide',
       'MastenPark', 'UpperWestSide', 'LowerWestSide', 'BlackRock',
       'FruitBelt', 'SchillerPark', 'FillmoreLeroy',
       'SenecaCazenovia', 'Kenfield', 'Parkside', 'HopkinsTifft',
       'CentralPark', 'SouthPark', 'Ellicott', 'MLKPark',
       'GrantAmherst', 'DelavanGrider', 'HamlinPark', 'SenecaBabcock',
       'FirstWard'])

In [107]:
df.nunique()

date     5841
nbh        35
day         7
hour       24
count      14
dtype: int64

In [108]:
df.shape

(250725, 5)

In [109]:
df = df.dropna()

In [110]:
df.shape

(248407, 5)

In [111]:
df.head()

                   date                nbh        day  hour  count
5   2006-01-01 00:00:00         North Park     SUNDAY     0     10
14  2011-05-07 00:00:00            Lovejoy   SATURDAY    19      8
27  2016-10-21 00:00:00      Pratt-Willert     FRIDAY    16      8
28  2008-07-31 00:00:00          Riverside   THURSDAY     0      7
45  2006-07-26 00:00:00  Broadway Fillmore  WEDNESDAY     0      6

#### create dummies variables weekdays, hours andn neighbourhood

In [112]:
dummy_weekday = pd.get_dummies(df['day'])

dummy_weekday.columns = df['day'].unique()

df = pd.concat([df,dummy_weekday], axis=1)

dummy_hour= pd.get_dummies(df['hour'])

dummy_hour.columns = df['hour'].unique()

df = pd.concat([df,dummy_hour], axis=1)

dummy_nbh= pd.get_dummies(df['nbh'])

dummy_nbh.columns = df['nbh'].unique()

df = pd.concat([df,dummy_nbh], axis=1)

In [120]:
df= df.drop(['day', 'hour', 'nbh', 'date'], axis=1)

In [121]:
df.head()

,count,SUNDAY,SATURDAY,FRIDAY,THURSDAY,WEDNESDAY,MONDAY,TUESDAY,0,19,...,Hopkins-Tifft,Central Park,South Park,Ellicott,MLK Park,Grant-Amherst,Delavan Grider,Hamlin Park,Seneca Babcock,First Ward
5,10,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
14,8,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,8,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
28,7,0,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
45,6,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

## Kcross validation

In [119]:
from sklearn.model_selection import KFold # import KFold
from sklearn.metrics import accuracy_score #To calculate accuracy
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

In [122]:
def cross_validation_XG_classifier(model):
    accuracy = []
    for train_index, test_index in kf.split(df):
        # print("TRAIN:", train_index, "TEST:", test_index)
        #train part
        X_train = np.array(df.drop('count', axis = 1))[train_index]
        y_train = np.array(df.count)[train_index]
        #test part
        X_test = np.array(df.drop('count', axis = 1))[test_index]
        y_test = np.array(df.count)[test_index]

        model.fit(X_train, y_train)

        y_pred = model.predict(X_test)

        y_pred = my_ceil(np.array(y_pred))

        accuracy.append(accuracy_score(y_pred, y_test))
    return np.average(accuracy)

In [124]:
# Converts floats to integers for classification
def my_ceil(predictions):
  for i in range(len(predictions)):

    if predictions[i]%1 <= +0.5:
      predictions[i] = int(predictions[i])
    else:
      predictions[i] = int(predictions[i]) + 1
  return predictions


def cross_validation_Lregressor(formula):
    accuracy = []
    for train_index, test_index in kf.split(df):
    
        #train part
        train = df.iloc[train_index]
        #test part
        test = df.iloc[test_index]

        model_lr = formula
        result_lr = smf.ols(model_lr, data = train).fit()

        y_pred = np.array(result_lr.predict(test))

        y_pred = my_ceil(y_pred)

        accuracy.append(accuracy_score(y_pred, test.Score))
   
    return np.average(accuracy)

## Models

### Linear regression

In [125]:
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [133]:
#all_columns = "+".join(df.columns.difference(["count"]))
values = ','.join([str(i) for i in df.columns.difference(["count"])])
#values = ",".join(value_list)

In [134]:
model_lr = "count ~" + values
result_lr = smf.ols(model_lr, data = df).fit()

print(result_lr.summary())

SyntaxError: invalid syntax (<unknown>, line 1)